<!DOCTYPE html>
<html>
  <head>
    <title>MyDogProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class = navbarClass>
        <ul>
          <li>Home</li>
          <li>About Us</li>
        </ul>  
      </div>
      <h1>Lots O' Dogs</h1>
    </header>
    <%= yield %>
  </body>
</html>
